body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif; 
}

.title {
    position: absolute;
    left: 45.3%;
    top: 60px;
    display: flex;
    font-size: 60px;
    text-transform: uppercase;
}

.principal-square {
    position: absolute;
    background: rgba(56, 2, 87, 0.6);
    width: 100%;
    height: 680px;
    top: 25%;
    z-index: 10;
}

.cards{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}
.card-1,.card-2,.card-3 {
    position: relative;
    padding: 10px;
    flex: 22%;
    margin: 100px;
    width: 100px;
    height: 420px;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 20px;
}

.card-1 {
    top: -20px;
    background-color: #270133;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-2 {
    top: 80px;
    background-color: #270133;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
  

.card-3 {
    top: -20px;
    background-color: #270133;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-img-1{
    width: 100%;
    height: 100%;  
    border-radius: 20px;
    background: url("../../img/action/battlefield-1.jpeg");
	background-position: center;
	background-attachment: contain;
	background-size: cover;
}

.card-img-2{
    width: 100%;
    height: 100%;  
    border-radius: 20px;
    background: url("../../img/Horror/village.jpg");
	background-position: center;
	background-attachment: contain;
	background-size: cover;
}

.card-img-3{
    width: 100%;
    height: 100%;  
    border-radius: 20px;
    background: url("../../img/adventure/tomb-raider.jpg");
	background-position: center;
	background-attachment: contain;
	background-size: cover;
}

button {
    background-color: #B74CDC;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    margin-top: 20px;
    padding: 5px 30px;
    text-transform: uppercase;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover {
    background-color: #D99BFF;
}