body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container-new-games {
    width: 100%;
    height: auto;
    margin: 120px auto;
    padding: 20px;
    background: rgba(56, 2, 87, 0.6);
}

.img-container-new-games {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lines{
    position: absolute;
    left: 0px;
    top: 1650px;
    width: 100%;
}

.line-1 {
    height: 5px;
    background: #fff;
}

.line-2 {
    margin-top: 5px;
    height: 5px;
    background: #00ADEF;
}


.first-game img {
    width: 300px;
    height: 380px;
    border: 10px solid rgb(78, 78, 78);
    border-radius: 20px;
}

.second-game h1 {
    display: flex;
    justify-content: center;
    margin: 280px 80px 0px 80px;
    font-size: 50px;
}

.second-game img {
    width: 300px;
    height: 380px;
    margin: 80px 90px 0px 90px;
    border: 10px solid rgb(78, 78, 78);
    border-radius: 20px;
}

.three-game img {
    width: 300px;
    height: 380px;
    border: 10px solid rgb(78, 78, 78);
    border-radius: 20px;
}

.first-game button,
.second-game button,
.three-game button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    font-weight: 600;
    margin: 15px auto;
    background-color: #B74CDC;
    color: #fff;
    border-radius: 20px;
}

button:hover {
    background-color: #D99BFF;
}

/* SECTION OF PLATAFORMS */

.main-container-platform {
    width: 100%;
    margin: 120px 0px 300px 0px;
    padding: 30px;
}

.container-platform {
    align-items: center;
    width: 40%;
    height: 80px;
    margin: auto;
    padding: 20px;
}

.pc-button {
    width: 100%;
    font-size: 70px;
    background-color: #00ADEF;
    color: #fff;
    transition: 2s;
    border-radius: 30px;
}

.pc-button:hover {
    background: #0D3B96;
}

.category-pc {
    width: 80%;
    margin: 90px auto;
}

.img-of-game {
    width: 258px;
    height: 327px;
    margin: 20px 15px;
    border-radius: 20px;
    z-index: 10000;
}

/* XBOX CATEGORY*/
.xbox-button {
    width: 90%;
    font-size: 70px;
    background-color: #9BC848;
    color: #fff;
    transition: 2s;
    border-radius: 30px;
}

.xbox-button:hover {
    background-color: #007205;
}

.category-xbox {
    width: 80%;
    margin: 90px auto;
}

/* PLAYSTATION CATEGORY */

.playstation-button {
    width: 90%;
    font-size: 70px;
    background-color: #01459A;
    color: #fff;
    transition: 2s;
    border-radius: 30px;
}

.playstation-button:hover {
    background-color: #2CA4E8;
}

.category-playstation {
    width: 80%;
    margin: 90px auto;
}

.more-games {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80px;
    margin: auto;
}

.view-more {
    width: 80%;
    height: 90%;
    border-radius: 20px;
    font-size: 40px;
    font-weight: 600;
    background-color: #B74CDC;
    color: #fff;

}

@media (max-width: 420px) {
    .img-container-new-games {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }

    .second-game h1 {
        margin: 0px;
    }

    .main-container-platform {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .container-platform {
        align-items: center;
        width: 90%;
        height: 30px;
        margin: auto;
        padding: 20px;
    }

    .pc-button,
    .xbox-button,
    .playstation-button {
        font-size: 30px;
        height: 50px;
        font-weight: 600;
    }

    .more-games{
        width: 70%;
        height: auto;
    }

    .view-more{
        display: flex;
        justify-content: center;
        width: 90%;
        height: auto;
    }

}