.title-shopping-cart {
  display: flex;
  justify-content: start;
  font-size: 40px;
  width: 80%;
  margin: auto;
}

.principal-container {
  width: 85%;
  margin: auto;
  padding: 10px;

  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  gap: 60px;
}

.main-added-games {
  border-radius: 20px;
  padding: 20px;
}

.added-games {
  display: flex;
  flex-wrap: nowrap;
  font-size: 15px;
  margin: 0px 0px 50px 0px;
  border-radius: 20px;
  padding: 25px;
  background-color: #424242CC;
}

.added-games-img {
  width: 270px;
  height: 147px;
  max-width: 270px;
  border-radius: 20px;
  margin: 0px 20px 0px 0px;
}

.container-info-icons {
  display: grid;
  grid-template-columns: 8.5fr 1fr;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.quantity-games {
  display: flex;
  align-items: center;
}


/* COST SHART */
.cost-shart {
  background-color: #424242CC;
  padding: 25px;
  border-radius: 20px;
}

.text-cost-shart {
  display: grid;
  grid-template-columns: 9.5fr 2.5fr;
  padding: 25px;
  font-size: 25px;
  line-height: 80px;
}

.text-left{
  color: #8F8F8F;
}

.text-right{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.email {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

#email {
  background-color: #424242CC;
  color: #fff;
  border: 1px solid #fff;
  height: 40px;
  border-radius: 10px;
  font-size: 2rem;
  padding: 5px;
  margin: 0px 0px 25px 0px;
}

/* BUTTON */

.proceed-with-the-payment{
  display: grid;
  width: 80%;
  margin: auto;
  height: 50px;
}

/* BUTTONS */
#payment{
  font-size: 30px;
  border-radius: 40px;
  background-color: #BC5CDE;
  color: #fff;
  padding: 15px;
  transition: 1s;
}

#payment:hover{
  background-color: #D99BFF;
}

.continue-shopping{
  display: flex;
  justify-content: center;
  margin: 20px 0px ;
  font-size: 20px;
  background-color: transparent;
  color: #8F8F8F;
  border-radius: 20px;
}

.continue-shopping:hover{
  background-color: #8F8F8F;
}




/* Discover section */
.discover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: rgb(0, 0, 0);
  padding: 3rem;
}

.discover button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 40px;
  border-radius: 10px;
  background: transparent;
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  margin: 0px auto;
  padding: 8rem;
}


.front-pages {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  padding: 2rem;
  gap: 2rem 2rem;
}

.front-page-img {
  width: 90%;
  height: 75%;
  border-radius: 20px;
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}

.title-games-discover {
  margin: 15px 0px 7px 0px;
}

.price-with-discount {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.discount {
  background-color: #B74CDC;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}

/* RESPONSIVE */
@media screen and (max-width: 400px){
  .cost-shart {
    width:100%
  }
}