* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 25% 50% 25%);
  width: 95%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

form p {
  position: relative;
  font-size: 14px;
  width: 410px;
  font-weight: 300;
  top: -10px;
}

#mail-val {
  width: 610px;
}

#msg-val {
  width: 810px;
}

.fa-circle-xmark, .fa-circle-check {
  color: #ef233c;
  position: absolute;
  font-size: 22px;
  padding: 35px 0px 35px 0px;
  margin: 0px 0px 0px -29px;
}

.fa-circle-check {
  color: #70e000;
  display: none;
}

.part-of-icon {
  width: 90%;
  margin: auto;
}

.part-of-icon img {
  width: 100%;
}

.half {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem;
}

.half h1 {
  font-size: 30px;
}

.row-1 {
  display: grid;
  grid-template-columns: repeat(2, 47% 47%);
  width: 100%;
  margin: auto;
  gap: 20px;
}

#name,
#lastName {
  font-size: 20px;
  color: #8F8F8F;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0px;
  color: #fff;
  background-color: rgba(255, 255, 255, .15);
  border: 1px solid #fff;
}

#lastName {
  border: 1px solid #fff;
}

.row-2 {
  width: 100%;
}

#Email {
  font-size: 20px;
  color: #8F8F8F;
  width: 97%;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0px;
  color: #fff;
  background-color: rgba(255, 255, 255, .15);
  border: 1px solid #fff;
}

.row-3 {
  width: 100%;
}

#your-message {
  font-size: 20px;
  color: #8F8F8F;
  width: 97%;
  height: 320px;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0px;
  color: #fff;
  background-color: rgba(255, 255, 255, .15);
  border: 1px solid #fff;
}

.alert {
  color: red;
}


.submit {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 10px;
}

.submit input {
  align-items: center;
  width: 220px;
  height: 40px;
  transition: 2s;
  background-color: #B74CDC;
  color: #fff;
  z-index: 1000;
  cursor: pointer;
  
}

.submit button:hover {
  background-color: #D99BFF;
}


/* RIGHT */
.right {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem;
}

.icons-social {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  gap: 40px;
}

.fa-twitter {
  color: #00ADEF;
  border-radius: 10px;
}

.fa-facebook {
  color: #0955B5;
  border-radius: 10px;
}

.fa-instagram {
  color: #c50e88;
  border-radius: 10px;
}

.description {
  display: flex;
  justify-content: center;
  text-align: justify;
  text-align: center;
  width: 95%;
  margin: 40px auto;
  align-items: flex-end;
}

.game-store-title {
  display: flex;
  justify-content: center;
  text-align: center;
}

formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/* SQUARES STYLES */
.squares,
.squares2,
.squares3,
.squares4,
.squares5 {
  position: absolute;
  background: -webkit-linear-gradient(120deg, #8A00DA, #520081, #1f0031);
  width: 200px;
  height: 200px;
  opacity: 0.4;
  rotate: 120deg;
  top: -10px;
  left: -68px;
  z-index: 0;
}

.squares2 {
  top: -120px;
  left: 1300px;
  rotate: 20deg;
}

.squares3 {
  top: 500px;
  left: 860px;
  rotate: -50deg;
  z-index: 0;
}

.squares4 {
  top: 850px;
  left: 300px;
  rotate: 20deg;
  z-index: 0;
}

.squares5 {
  top: 500px;
  left: 1850px;
  rotate: 120deg;
}


/* RESPONSIVE DESIGN */

@media (max-width: 420px) {

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .part-of-icon {
    width: 70%;
    margin: auto;
  }

  .part-of-icon img {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
}